<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="breadcrumbs(breadcrumbs)">
    <nav aria-label="breadcrumb" th:if="${breadcrumbs != null and !#lists.isEmpty(breadcrumbs)}">
        <ol class="breadcrumb mb-3">
            <li class="breadcrumb-item">
                <a th:href="@{/}">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li th:each="crumb, iterStat : ${breadcrumbs}"
                class="breadcrumb-item"
                th:classappend="${iterStat.last ? 'active' : ''}"
                th:attr="aria-current=${iterStat.last} ? 'page' : null">
                <a th:if="${crumb.url != null and !iterStat.last}"
                   th:href="${crumb.url}"
                   th:text="${crumb.name}">
                    Breadcrumb
                </a>
                <span th:if="${iterStat.last or crumb.url == null}"
                      th:text="${crumb.name}">
                    Breadcrumb
                </span>
            </li>
        </ol>
    </nav>
</th:block>